body {
  margin: 0;
  padding: 0;
  background-color: #F4F5F6;
  height: 100%;
  width: auto;
  font-family: 'Barlow Condensed', sans-serif;
}

.navigation {
  position: absolute;
  top: 40px;
  left: 400px;
}

.navigation a {
  color: #000;
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  color: #fff;
}

.logo {
  width: 180px;
  padding: 20px 0 0 30px;
  margin-bottom: 20px;
}

.header {
  box-shadow: 0px 5px 5px -5px #777777;
}

.nap1 {
  position: absolute;
  width: 400px;
  margin-top: 100px;
}

.nap-bottom {
  /*position: absolute;*/
  width: 100px;
  display: block;
  margin-top: 520px;
  margin-left: 25px;
}

.arrow {
  width: 30px;
  margin-top: 550px;
  margin-left: 30px;
}

.nap-gallery {
  float: left;
}

#column1 {
  float: left;
  margin-left: 200px;
}

#column2 {
  float: right;
  width: 320px;
  margin-right: 200px;
  margin-top: 60px;
}

#column2 h1 {
  color: #da4227;
}

select {
  width: 320px;
  height: 40px;
  background-color: transparent;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
  padding-top: 20px;
}
